* {
    margin:0;
    padding:0;
}
.signup {
    display:flex;
    width:100vw;
    height:100vh;
}
.sidebar {
    flex:1;
    width:100%;
    height:100%;
    background: no-repeat url("images/photo.avif");
    background-size: cover;
    position: relative;
    display:flex;
}
.sideBackground{
    width:100%;
    height:100%;
}
.logo {
    display:flex;
    width:100%;
    height:250px;
    position:absolute;
    top:30%;
    background: rgb(0 0 0/50%);
    color:white;
    font-size:50px;
    justify-content: center;
    align-items: center;

}
.logo > .image {
    height:80%;
}
.form {
    flex:2;
    background:#596D48;
}